{
  "presets": ["@babel/react", "@babel/typescript"],
  "plugins": ["@babel/plugin-proposal-object-rest-spread"],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  }
}
